WorkArea {
    layers: below above;
}

Footer {
    layer: above;
    width: 1fr;
}

FilteredDirectoryTree {
    align-horizontal: left;
    width: 25%;
    layer: above;
    height: 100%;
    border-right: black;
}

AutomatonRenderer {
    layer: below;
    height: 100%;
}
