WorkArea {
    layers: bottom middle top;
}

Footer {
    layer: top;
    width: 1fr;
}

FilteredDirectoryTree {
    align-horizontal: left;
    width: 25%;
    layer: middle;
    height: 100%;
    border-right: black;
}

AutomatonRenderer {
    layer: bottom;
    height: 100%;
}

URLInput {
    layer: top;
}
